<!DOCTYPE html>
<html ng-app="lucAdm" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- endinject -->

</head>
<body>
    <header role="banner">
        <nav role="navigation" class="navbar navbar-default" ng-controller="NavCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Luc Administration</a>
                </div>
                <div class="navbar-collapse collapse" collapse="navbarCollapsed">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" ng-controller="UserCtrl" class="fluid-container">
        <div class="row col-lg-offset-6 col-lg-3">
            <div class="panel">
                <div class="input-group">
                    <input class="form-control" ng-model="newUserName" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addUser(newUserName)">Add</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users.list">
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            <td><input type="checkbox" ng-model="user.active" /></td>
                            <td>{{user.active}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer role="contentinfo" class="fluid-container">
        <div class="row col-lg-offset-3 col-lg-6">
            <p><small>Copyright 2015 &copy; Łukasz Wiatrak</small></p>
        </div>
    </footer>
    <!-- inject:js -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/ui-bootstrap-tpls.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/controllers/navCtrl.js"></script>
    <script src="/app/controllers/userCtrl.js"></script>
    <!-- endinject -->

</body>
</html>